body{
    background-color: #f5f5f5;
}

.membros{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.membrosIndividual{
    background-color: #14c204;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    text-align: center ;
    margin-top: 30px;
}

.membrosIndividual img{
    width: 200px;
    height: 200px;  
    margin: 20px;
    border-radius: 100px;
}

footer{
    background-color: black;
    height: 200px;
}

.cardMembros{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}